


<link rel="stylesheet" href="~/fontawesome/css/all.css" />
<link href="~/Style/style.css" rel="stylesheet" />

<div class="slides">
    <div class="slide">
        <img src="~/Style/Picture/img1.jpg" alt="">
    </div>
    <div class="slide">
        <img src="~/Style/Picture/img2.jpg" alt="">
    </div>
    <div class="slide">
        <img src="~/Style/Picture/img3.jpg" alt="">
    </div>
</div>

<div class="slide-lines">
    <span class="line active"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>


<div class="blog-container">
    <h2>От света на парфюмите и козметиката</h2>
    <div class="blog">
        <div class="blog-article">
            <img src="~/Style/Picture/blog1.jpg" alt="">
            <p>Notino Hack: как да постигнете перфектните мигли (без екстеншъни)</p>
        </div>
        <div class="blog-article">
            <img src="~/Style/Picture/blog2.jpg" alt="">
            <p>Готови ли сте за Големия ден? Бюти съвети за младоженци</p>
        </div>
        <div class="blog-article">
            <img src="~/Style/Picture/blog3.jpg" alt="">
            <p>IPL епилация: 4 мита, на които не трябва да вярвате</p>
        </div>
    </div>
</div>
<div class="brand-container">
    <img src="~/Style/Picture/BRUSHART.png" alt="">
    <img src="~/Style/Picture/lancome.png" alt="">
    <img src="~/Style/Picture/estee.jpg" alt="">
    <img src="~/Style/Picture/loreal.png" alt="">
    <img src="~/Style/Picture/NYX.png" alt="">
    <img src="~/Style/Picture/VICHY.jpg" alt="">
</div>

<div class="footer">

    <div class="social-media">
        <span><i class="fa-brands fa-facebook"></i></span>
        <span><i class="fa-brands fa-instagram"></i></span>
        <span><i class="fa-brands fa-twitter"></i></span>
    </div>
    <div class="info">
        <ul>
            <li>Info</li>
            <li>Support</li>
            <li>Marketing</li>
        </ul>
    </div>

    <div class="text">
        <div class="paragraph">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
        </div>

        <span><i class="fa-solid fa-copyright"></i> Eliz Gunay</span>
    </div>
</div>
<script src="~/Style/main.js"></script>
